h1 {
    background-color: #e27d60;
    margin: 0px; /*Margin sirve para marcar un margen en la página para una linea de texto. Lo tengo en 0px , por lo que es como no tenerlo. */
    padding: 1%; /*Padding sirve para poner un margen más gordo a la zona. Esto hace que el borde del color de fondo no esté pegado al texto. */
    border-radius: 15px;
    width: 450px;
    color: #a35b45;
    margin-top: 1%;
 
    
    
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
  }
  
  li a:hover {
    background-color: #111;
  }
 body {
  background-color: #85dcb8;
  
 }
 .header {
    background-color: gray;
    padding: 0.5%;
 }

    
.TextoNormal {
    font-size: 20px;
    color:  white;
 }
.TablaCV {
    background-color: #629694;
    border: black 3px solid;
    border-right: none;
    border-collapse: collapse;
    border-top: none;
    border-bottom: none;
    float:left;
    padding-left: 3px;
}

.TopeTabla {
    border-top: black 3px solid;
}

.FotoCV {
    padding-bottom: 0%;
    padding-top: 1%;
    border-top: black 3px solid;
    
}
.NombreCV {
    font-size: xx-large;
    padding: 0%;
    
}


.Celda3Tabla1 {
    padding-top: 0%;
    font-size: larger;

}
.CeldaContacto {
    padding: 0%;
}
.CeldaContactoIconos {
    padding-top:  1%;
}
.CeldaNegrita {
    font-size: large;
}
.CeldaIdiomas {
    padding-bottom: 3%;
}
.CeldaMarcas {
    padding-top: 0%;
    padding-bottom: 3%;
}

.Subtitulo {
    font-size: 300%;
    padding: 0%;
    background-color: wheat;
    border: black 3px solid;
    border-collapse: collapse;
    border-bottom: none;
    border-left: none;
    padding-left: 1%;
}
.TextoNombreEmpresa {
    
    padding-bottom: 0%;
    padding-top: 2%;
    background-color: wheat;
    border-right: black 3px solid;
    border-left: none;
    border-collapse: collapse;
    border-top: none;
    border-bottom: none;
    padding-left: 1%;
}
.TituloPuesto {
    font-size: x-large;
    padding-top: 0%;
    padding-bottom: 0%;
    background-color: wheat;
    border: black 3px solid;
    border-left: none;
    border-collapse: collapse;
    border-top: none;
    border-bottom: none;
    padding-left: 1%;
}
.TextoSubtituloCV {
    padding-top: 1%;
    padding-bottom: 0%;
    background-color: wheat;
    border: black 3px solid;
    border-left: none;
    border-collapse: collapse;
    border-top: none;
    border-bottom: none;
    padding-left: 1%;
}
.SubtituloFormacion {
    padding-top: 2%;
    font-size: xx-large;
    padding-bottom: 0%;
    background-color: wheat;
    border: black 3px solid;
     border-left: none;
    border-collapse: collapse;
    border-top: none;
    border-bottom: none;
    padding-left: 1%;
}

.TextoNombreFormacion {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: wheat;
    border: black 3px solid;
     border-left: none;
    border-collapse: collapse;
    border-top: none;
    border-bottom: none;
    padding-left: 1%;
}
.TextoFormacion {
    padding-top: 0%;
    background-color: wheat;
    border: black 3px solid;
     border-left: none;
    border-collapse: collapse;
    border-top: none;
    border-bottom: none;
    padding-left: 1%;
}

.Ultimafila {
    padding-bottom: 5%;
    border-bottom: black 3px solid;
}
.Ultimafila2 {
    padding-bottom: 5%;
    background-color: wheat;
    border-right:black 3px solid;
    border-bottom: black 3px solid;
}
.VideoCV {
   position: static;
   right: 20px;
   padding-left: 3px;
   
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    } 

p {
    column-count: 2;
    text-align: justify;
    
}

