* {          /* Sirve para que los márgenes sean iguales en todos los ordenadores. */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

 body {
  background-color: #85dcb8;
    
 }
 header {
    background-color: gray;
    padding: 1%;
    font-size: xx-large;
 }


.TextoNormal {
    font-size: 20px;
    color:  white;
 }
 body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  } 
 /* ============================================== Barra superior ============================================ */
nav {
  background-color: #333;
  color: white;
}
      
 nav div {
    display: inline-block;
    padding: 10px;
    width: 15%;
    }
  

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   /* Sirve para recortar el contenido que se salga de la pantalla para que coincida.*/
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;

  }
  
  li a:hover {
    background-color: #111;
  }
  
/* Menu lateral Indice + Curriculum*/

  .menulateral {
    background-color:  #333;
    color: white;
    float: left;
    height: 160vh;  /* No puedo usar un porcentaje porque no funciona correctamente. */ 
    margin-top: 5px;
    width: 15%;
  }

 
  .menulateral a {
    color: white;
    padding: 10px;
    padding-left: 1%;
  }

  .menulateral a:hover {
    background-color: #111;
  }
  
  .menulateral div {   /* Esta parte con "div" hace referencia a los "divs" que tengo dentro del menu lateral. */
    padding: 10px;
  }

 /* Resto página índice*/
   
.container {
  margin: 0% auto;
  
}

div.columnas {
  float: left;
  margin-left: 1%;
  width: 80%;
  padding-top: 0%;
}

.columna {
    border: 3px solid black;
    border-radius: 5%;
    font-size: 20px;
    float: left;
    padding: 1%;
    margin-top: 0%;
    text-align: center;
    width: 24%;
    background-color: #37dd98;
    margin-left: 0.5%;
    padding-top: 0%;
    
  }
  
.columna2 {
  border: 3px solid black;
  background-color: wheat;
  border-radius: 5%;
  font-size: 20px;
  float: left;
  padding: 2%;
  margin-top: 0%;
  margin-left: 10px;
  text-align: center;
  width: 20%;
  padding-top: 0%;
}

.columna img {
  width: 75%;
}
.columna2 img {
  width: 100%;
}

#sobremiappweb {
  column-count: 2;
  
}

.sobremi {
  font-size: 40px;
  padding-bottom: 0%;
  padding-left: 20px;
  padding-top: 0px;
  
}
.appweb {
  
  font-size: xx-large;
  text-align: center;
  margin-right: 11%;
  float: right;
}
.cosasnodejaria {
  font-size: xx-large;
  margin-top: 470px;
  padding-left: 225px;
  
}
.grupoarticulos {
  column-count: 2;
  float: left;
  margin-left: 1%;
  margin-top: 10px;
  width: 80%;
  text-align: center;
  padding: 0px;
}

.articulos {
  border: 3px solid black;
  background-color: #37ddc4;
  border-radius: 10px;
  font-size: 20px;  
  padding-left: 5px;
  padding-right: 5px;
  padding: 0px;
}

p.Explicacion3cosas {
  font-size: 15px;
}

footer {
  background-color: gray;
  padding: 20px;
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 99.6%; /* He puesto width 99.6% porque si no aparece una barra para mover a los laterales */

}
 /* ===============================================================CV============================================================= */

.TablaCV {
    background-color: #629694;
    border: black 3px solid;
    border-right: none;
    border-collapse: collapse;
    border-top: none;
    border-bottom: none;
    margin-left: 16%;
    width: 50%;
    position: absolute;
}

.TopeTabla {
    border-top: black 3px solid;
}

.FotoCV {
    padding-bottom: 0%;
    padding-top: 1%;
    border-top: black 3px solid;
    text-align: center;
    
    
}
.NombreCV {
    font-size: xx-large;
    padding: 0%;
    text-align: center;
}


.Celda3Tabla1 {
    padding-top: 0%;
    font-size: larger;
    text-align: center;

}
.CeldaNormalTabla1 {
  text-align: center;
}
.CeldaContacto {
    padding: 0%;
    text-align: center;
}
.CeldaContactoIconos {
    padding-top:  1%;
    text-align: center;
}
.CeldaNegrita {
    font-size: large;
}
.CeldaIdiomas {
    padding-bottom: 3%;
    text-align: center;
}
.CeldaMarcas {
    padding-top: 0%;
    padding-bottom: 3%;
    text-align: center;
}

.Subtitulo {
    font-size: 300%;
    padding: 0%;
    background-color: wheat;
    border: black 3px solid;
    border-collapse: collapse;
    border-bottom: none;
    border-left: none;
    padding-left: 1%;
    width: 60%;
}
.TextoNombreEmpresa {
    
    padding-bottom: 0%;
    padding-top: 2%;
    background-color: wheat;
    border-right: black 3px solid;
    border-left: none;
    border-collapse: collapse;
    border-top: none;
    border-bottom: none;
    padding-left: 1%;
}
.TituloPuesto {
    font-size: x-large;
    padding-top: 0%;
    padding-bottom: 0%;
    background-color: wheat;
    border: black 3px solid;
    border-left: none;
    border-collapse: collapse;
    border-top: none;
    border-bottom: none;
    padding-left: 1%;
}
.TextoSubtituloCV {
    padding-top: 1%;
    padding-bottom: 0%;
    background-color: wheat;
    border: black 3px solid;
    border-left: none;
    border-collapse: collapse;
    border-top: none;
    border-bottom: none;
    padding-left: 1%;
}
.SubtituloFormacion {
    padding-top: 2%;
    font-size: xx-large;
    padding-bottom: 0%;
    background-color: wheat;
    border: black 3px solid;
     border-left: none;
    border-collapse: collapse;
    border-top: none;
    border-bottom: none;
    padding-left: 1%;
}

.TextoNombreFormacion {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: wheat;
    border: black 3px solid;
    border-left: none;
    border-collapse: collapse;
    border-top: none;
    border-bottom: none;
    padding-left: 1%;
}
.TextoFormacion {
    padding-top: 0%;
    background-color: wheat;
    border: black 3px solid;
    border-left: none;
    border-collapse: collapse;
    border-top: none;
    border-bottom: none;
    padding-left: 1%;
}

.Ultimafila {
    padding-bottom: 5%;
    border-bottom: black 3px solid;
}
.Ultimafila2 {
    padding-bottom: 5%;
    background-color: wheat;
    border-right:black 3px solid;
    border-bottom: black 3px solid;
}
.VideoCV {
  position: relative;
  float: right;
  margin-right: 5%;
  width: 392px ;
  height: 220px;
  
}

.fondopaginaindice {   /*  He tenido que poner este padding porque si no no te deja scrollear para abajo la página y el footer tapa cosas.*/
  padding: 10%;
}
.fondopagina {   /*  He tenido que poner este padding porque si no no te deja scrollear para abajo la página y el footer tapa cosas.*/
  padding: 2%;
}
/* ====================================== Formulario =================================== */

/* Menu lateral Form*/

.menulateralform {
  background-color:  #333;
  color: white;
  float: left;
  height: 100vh;  
  margin-top: 5px;
  width: 15%;
}

.menulateralform a {
  color: white;
  padding: 10px;
  padding-left: 1%;
}

.menulateralform a:hover {
  background-color: #111;
}

.menulateralform div {  
  padding: 10px;
}

.formulario {

  padding-left: 300px;
}
fieldset {
  border: black 3px solid;
  padding-left: 15px;
  font-size: large;
  column-count: 2;
  border-radius: 10px;
  background-color: #37ddc4;
}


.Registro {
 padding-top: 15px;
}
.misc {
  padding-top: 15px;
}

/* ===================================== Sobre el proyecto =======================================*/

.menulateralproy {
  background-color:  #333;
  color: white;
  float: left;
  height: 200vh;  
  margin-top: 5px;
  width: 15%;
}

.menulateralproy a {
  color: white;
  padding: 10px;
  padding-left: 1%;
}

.menulateralproy a:hover {
  background-color: #111;
}

.menulateralproy div {  
  padding: 10px;
}


.headerproy {
  background-color: #37ddc4;
  margin-top: 10px;
  margin-left: 16%;
  margin-right: 70%;
  border: black 3px solid;
  border-radius: 10px;
  
}

.headerproydoc {
  background-color: #37ddc4;
  margin-top: 10px;
  margin-left: 16%;
  margin-right: 40%;
  border: black 3px solid;
  border-radius: 10px;
}
.headerproyvideo {
  background-color: #37ddc4;
  margin-top: 10px;
  margin-left: 16%;
  margin-right: 55%;
  border: black 3px solid;
  border-radius: 10px;
}
.headerlayout {
  margin-left: 10%;
}

.fotolayout {
  margin-left: 16%;
  margin-right: 10%;
}
.textolayout {
  margin-left: 16%;
}

.LinkProy  {
  margin-left: 16%;
}

.VideoProy {
  margin-left: 20px;
}

/*==== Resultado formulario =======*/

.imagenfondo {
  padding: 30%;
  background-image: url(https://images.pexels.com/photos/64147/cat-young-cat-playful-pet-64147.jpeg?cs=srgb&dl=animales-felino-gatitos-64147.jpg&fm=jpg);
}

.resultado {
  text-decoration: underline rebeccapurple wavy;
  text-align: justify;
  text-emphasis: filled; /* Los puntitos de encima del texto*/
  

}